*.swp
*.iml
*.idea
scratch/
dist/
build/
lib/
test/
testdata/indianaLargeTableTest.table
out/

# Temporarily ignore these files
3D7.ctx
3D7xHB3.ctx
3D7xHB3.masked.ctx
HB3.ctx
PG0051-C.ERR019061.contigs.bai
PG0051-C.ERR019061.contigs.bam
PG0051-C.ERR019061.contigs.ctx
PG0051-C.ERR019061.contigs.fasta
PG0052-C.ERR019054.contigs.bai
PG0052-C.ERR019054.contigs.bam
PG0052-C.ERR019054.contigs.ctx
PG0052-C.ERR019054.contigs.fasta
PG0063-C.ERR019060.contigs.bai
PG0063-C.ERR019060.contigs.bam
PG0063-C.ERR019060.contigs.ctx
PG0063-C.ERR019060.contigs.fasta
PG0063-C.ERR019060.contigs.k47.ann
PG0063-C.ERR019060.contigs.k47.metrics
PG0063-C.ERR019060.raw.k31.ctx
PG0063-C.ERR019060.track.k31.igv
PG0063-C.ERR019060.track.k31.igv.tdf
PG0063-C.ERR019060.track.k47.igv
PG0063-C.ahr.known.bed
PG0063-C.bai
PG0063-C.bam
PG0063-C.bed
PG0063-C.igv
PG0063-C.sorted.igv
PG0063-C.stats
PlasmoDB-9.0_Pfalciparum3D7_Genome.fasta.out
ahr.bai
ahr.bam
ahr.bed
ahr.classified.k31.bai
ahr.classified.k31.bam
ahr.classified.k31.paintedkmers.bai
ahr.classified.k31.paintedkmers.bam
ahr.classified.k31.paintedkmers.bed
ahr.classified.k31.paintedkmers.igv
ahr.classified.k31.paintedkmers.stats
ahr.classified.k47.bai
ahr.classified.k47.bam
ahr.classified.k47.paintedkmers.bai
ahr.classified.k47.paintedkmers.bam
ahr.classified.k47.paintedkmers.bed
ahr.classified.k47.paintedkmers.igv
ahr.classified.k47.paintedkmers.stats
annotated_ahr_contigs.png
candidates.bed
contignames.txt
contigs.bed
kmer.bai
kmer.bam
kmer.bed
kmer.igv
kmer.sorted.igv
kmer.stats
kmer1/
kmercov.ref0.txt
kmercov.ref1.txt
kmercov.txt
log
mask.bed
maskKmers.fasta
maskKmers.stats
newtest.bai
newtest.bam
newtest.bed
newtest.igv
newtest.stats
tbl_co.txt
test.bai
test.bam
test.bed
test.fasta
test.igv
test.pdf
test.sorted.igv
test.stats
test10.dot
test2.bai
test2.bam
test2.igv
test2.sorted.igv
3d7_hb3.combined.final.dedup.vcf
Dylan.phased.chr22.vcf
haplotypes.txt
Dylan.contigs.aligned.bai
Dylan.contigs.aligned.bam
Dylan.scaffolds.aligned.bai
Dylan.scaffolds.aligned.bam
PG0051-C.ERR019061.cov.k47.3D7.txt
PG0051-C.ERR019061.raw.k47.ctx
PG0063-C.ERR019060.contigs.hc_to_sc.bai
PG0063-C.ERR019060.contigs.hc_to_sc.bam
PG0063-C.ERR019060.contigs.k47.subset.bai
PG0063-C.ERR019060.contigs.k47.subset.bam
PG0063-C.ERR019060.contigs.k47.subset.metrics
PG0063-C.ERR019060.contigs.reapr.fasta
PG0063-C.ERR019060.contigs.reapr.unfolded.fasta
PG0063-C.ERR019060.cov.k47.3D7.txt
PG0063-C.ERR019060.track.k47.bai
PG0063-C.ERR019060.track.k47.bam
PG0063-C.ERR019060.track.k47.bed
PG0063-C.ERR019060.track.k47.stats
coverage.test
get.sh
highCoverageKmers.5000.fa
highCoverageKmers.fa
inc.fasta
