*.ctp
*.ctx
*.metrics
*.fasta
*.yaml
*.svg
*.swp
*.swl
*.iml
*.idea
*.idx
*.dot
*.pdf
scratch/
dist/
build/
lib/
test/
testdata/indianaLargeTableTest.table
out/
PG0054-C.ERR019062.contigs.fasta
PG0054-C.ERR019062.contigs.reapr.fasta
PG0054-C.ERR019062.contigs.reapr.fasta.fai
PG0054-C.contigs.fasta
PG0054-C.contigs.fasta.fai
PG0054-C.ctx
PG0054-C.infer.pe.ctp
PG0054-C.infer.se.ctp
PG0054-C.non_empty.non_redundant.contigs.fasta
PG0054-C.non_empty.non_redundant.contigs.fasta.fai
PG0054-C.sorted.ctx
contig_12520.fasta
go.sh
test.contig.ctx
test.contig.fasta
test.contig.inferedges.ctx
test.contig.inferedges.pe.ctp
test.contig.inferedges.se.ctp
test.contig.kmer.fasta
test.contig.reconstructed.fasta
test.dot
test.end1.fastq
test.end2.fastq
test.pdf
test.png
test2.dot
test2.pdf
PG0054-C.infer.ctx
PG0054-C.infer.sorted.ctx
contig15483.dot
contig15483.pdf
contig242.dot
contig242.pdf
contig3206.dot
contig3206.pdf
contig3859.dot
contig3859.pdf
contig43.dot
contig43.pdf
contig485.dot
contig485.pdf
contig5182.dot
contig5182.pdf
contig7068.dot
contig7068.pdf
contig712.dot
contig712.pdf
contig85.dot
contig85.pdf
settings/application.pro
ahrBarplot.png
circos.png
contig15483.png
contig242.png
contig3206.png
contig3859.png
contig43.png
contig485.png
contig5182.png
contig7068.png
contig712.png
contig85.png
contig85.sfdp.png
contig_12520.fasta.fai
denovoBox.png
loadAhrCallStats.png
loadAhrThresholdStats1.png
loadAhrThresholdStats2.png
loadAhrThresholdStats3.png
loadAhrThresholdStats4.png
loadCalledAhrStats1.png
loadCalledAhrStats2.png
loadCalledAhrStats3.png
loadCalledAhrStats4.png
loadCalledNovelStats1.png
loadCalledNovelStats2.png
loadCalledNovelStats3.png
loadCalledNovelStats4.png
loadDenovoCallStats.png
loadDenovoRef0CallStats.png
loadDenovoRef0Ref1CallStats.png
loadDenovoRef1CallStats.png
loadKnownAhrStats.png
newtest.dot
newtest.pdf
newtest.png
showHaps.png
small.ctx
small.dot
temp.pdf
*.png
PG0051-C.ERR019061.infer.pe.k41.ctp
PG0051-C.ERR019061.infer.pe.k47.ctp
PG0051-C.ERR019061.infer.pe.k51.ctp
PG0051-C.ERR019061.infer.sorted.k41.ctx
PG0051-C.ERR019061.infer.sorted.k47.ctx
PG0051-C.ERR019061.infer.sorted.k51.ctx
PG0052-C.ERR019054.infer.pe.k41.ctp
PG0052-C.ERR019054.infer.pe.k47.ctp
PG0052-C.ERR019054.infer.pe.k51.ctp
PG0052-C.ERR019054.infer.sorted.k41.ctx
PG0052-C.ERR019054.infer.sorted.k47.ctx
PG0052-C.ERR019054.infer.sorted.k51.ctx
PG0054-C.ERR019062.ctxsorted.k41.ctx
PG0054-C.ERR019062.sorted.k41.ctx
PG0054-C.ERR019062.sorted.k47.ctx
PG0054-C.ERR019062.sorted.k51.ctx
PG0070-C.ERR019056.contigs.fasta
PG0070-C.ERR019056.contigs.reapr.fasta
PG0070-C.ERR019056.infer.pe.k41.ctp
PG0070-C.ERR019056.infer.pe.k47.ctp
PG0070-C.ERR019056.infer.pe.k51.ctp
PG0070-C.ERR019056.infer.resorted.k41.ctx
PG0070-C.ERR019056.infer.resorted.k47.ctx
PG0070-C.ERR019056.infer.resorted.k51.ctx
PG0070-C.ERR019056.infer.sorted.k41.ctx
PG0070-C.ERR019056.infer.sorted.k47.ctx
PG0070-C.ERR019056.infer.sorted.k51.ctx
PG0070-C.ERR019056.k41.ctx
PG0070-C.ERR019056.k41.resorted.ctx
PG0070-C.ERR019056.k47.ctx
get.sh
PG0054-C.ERR019062.infer.pe.k41.ctp
PG0054-C.ERR019062.infer.pe.k47.ctp
PG0054-C.ERR019062.infer.sorted.k41.ctx
contig_1001.dot
contig_1001.pdf
test10.dot
.RData
.Rhistory
3d7_hb3.combined.final.dedup.vcf
PG0051-C.ERR019061.3D7.contigs.bai
PG0051-C.ERR019061.3D7.contigs.bam
PG0051-C.ERR019061.contigs.bai
PG0051-C.ERR019061.contigs.bam
PG0051-C.ERR019061.contigs.fasta.fai
PG0051-C.contig_931.txt
PG0063-C.ERR019060.contigs.PG0051-C.ERR019061.bai
PG0063-C.ERR019060.contigs.PG0051-C.ERR019061.bam
PG0063-C.ERR019060.contigs.PG0052-C.ERR019054.bai
PG0063-C.ERR019060.contigs.PG0052-C.ERR019054.bam
PG0063-C.ERR019060.contigs.bai
PG0063-C.ERR019060.contigs.bam
PG0063-C.ERR019060.contigs.fasta.fai
PG0063-C.ERR019060.contigs.reapr.bai
PG0063-C.ERR019060.contigs.reapr.bam
PG0063-C.contig_39700.txt
PG0063-C.contig_40158.txt
PG0063-C.contig_4847.txt
PG0063-C.contig_8631.txt
PG0063-C.contig_9733.txt
counts.pdf
covLimits.table
hb3.vcf
test.R
test.ann
test.bai
test.bam
test.table
test.txt
test.vcf
test.vcf.idx
wcounts.pdf
child.0.vcf
child_0.PC0_PERFECT.contigs.k47.ann
child_0.full.vcf
download.sh
hb3.full.vcf
newtest.end1.fq
newtest.end2.fq
newtest.vcf
newtest.vcf.idx
pseudo.hb3.fasta.fai
recombvar.txt
recombvar.vcf
recombvar.vcf.idx
run.sh
strtest.full.table
strtest.table
tbl_telomere.txt
testdata/PG0051-C.ERR019061.chr1.bai
testdata/PG0051-C.ERR019061.chr1.bam
testdata/PG0051-C.ERR019061.chr1.sort_by_name.bam
testvar.vcf
testvar.vcf.idx
var.3D7.annotated.gff
var.HB3.annotated.gff
PG0063-C.ERR019060.bai
PG0063-C.ERR019060.bam
child_0.end1.fq
child_0.end2.fq
child_0.fasta.fai
child_0.flanks_perfect.aligned.bai
child_0.flanks_perfect.aligned.bam
child_0.full.with_flanks.vcf
child_0.reads_perfect.flanksAligned.bai
child_0.reads_perfect.flanksAligned.bam
newchild.test.end1.fq
newchild.test.end2.fq
newchild.test.vcf
newchild.test.vcf.idx
results.txt
LID50115_filtered_subreads.fastq
PG0051-C.ERR019061.bai
PG0051-C.ERR019061.bam
PlasmoDB-9.0_Pfalciparum3D7_Genome.sorted.fasta.fai
child_2.full.with_flanks.vcf
child_2.reads_perfect.contigs.3D7.bai
child_2.reads_perfect.contigs.3D7.bam
child_2.reads_perfect.contigs.HB3.bai
child_2.reads_perfect.contigs.HB3.bam
child_4.fasta.fai
child_4.full.bed
child_4.reads_error0.0075.novelKmerRecovery.fromAnnotations.txt
chimeras.reads.txt
chimeras.table
chimeras.txt
denovotest.table
et.fw.table
et.table
fed.sam
fed.table
filtered_subreads.fastq
kmers.unique_and_distant.k21.table
newchild.test.bed
newchild.test.cov
newchild.test.fasta.fai
reads.map
test.rtie.dot
test.rtie.pdf
test.simplified.dot
test.simplified.labels.pdf
test.simplified.pdf
test.simplified.v2.pdf
test.simplified.v3.pdf
test.unsimplified.dot
test.unsimplified.pdf
unamplified.3D7.1.las.txt
variantrecall.table
variantrecall.v1.table
variantrecall.v2.table
variantrecall.v3.table
variantrecall.v4.table
variantrecall.v5.table
variantrecall.v6.table
3d7_hb3.trio.vcf
3d7_hb3.trio.vcf.idx
cartoon.txt
child_0.contigs.dot
child_0.fasta.repeatRegions.bed
child_0.reads_perfect.contigs.3D7.bai
child_0.reads_perfect.contigs.3D7.bam
child_0.reads_perfect.contigs.HB3.bai
child_0.reads_perfect.contigs.HB3.bam
child_0.reads_realistic.aligned.bai
child_0.reads_realistic.aligned.bam
errorRate.igv
errors.table
errortest.sim.table
errortest.table
errortest.table.gz
errortest.table.gz.csi
errortest.table.gz.tbi
et.v2.table
et.v3.table
et.v4.table
fed.bai
fed.bam
fed.end1.fq
fed.end2.fq
newchild.test.v4.bai
newchild.test.v4.bam
newchild.test.v4.end1.fq
newchild.test.v4.end2.fq
newchild.test.v4.sam
pos.pdf
pseudo.hb3.fasta.amb
pseudo.hb3.fasta.ann
pseudo.hb3.fasta.bwt
pseudo.hb3.fasta.cat.gz
pseudo.hb3.fasta.masked
pseudo.hb3.fasta.out
pseudo.hb3.fasta.pac
pseudo.hb3.fasta.sa
pseudo.hb3.fasta.tbl
pseudo.hb3.reads.1.fq.gz
read.profile
reads.lengthdist
reads.stats
.swo
PlasmoDB-9.0_Pfalciparum3D7_Genome.sorted.dict
child_0.fasta.amb
child_0.fasta.ann
child_0.fasta.bwt
child_0.fasta.cat.gz
child_0.fasta.masked
child_0.fasta.out
child_0.fasta.pac
child_0.fasta.sa
child_0.fasta.tbl
child_0.full.bed
child_0.reads_perfect.contigs.3D7.fixed.bai
child_0.reads_perfect.contigs.3D7.fixed.bam
child_0.reads_perfect.contigs.HB3.fixed.bai
child_0.reads_perfect.contigs.HB3.fixed.bam
child_0.reads_perfect.contigs.aligned_to_child.bai
child_0.reads_perfect.contigs.aligned_to_child.bam
child_0.reads_perfect.contigs.aligned_to_child.sam
child_0.reads_perfect.foundVariants.txt
cigarcalls.fixed.vcf
cigarcalls.fixed.vcf.idx
cigarcalls.vcf
cigarcalls.vcf.idx
contigs_with_inversions.txt
pseudo.hb3.hsx
test.3D7.bai
test.3D7.bam
test.3D7.v2.bai
test.3D7.v2.bam
test.HB3.bai
test.HB3.bam
test.HB3.v2.bai
test.HB3.v2.bam
testout.vcf
viterbi_pw
viterbi_pw.cpp
viterbi_pw.dSYM/
calls.debug.vcf
calls.report.txt
calls.stats.txt
calls.vcf
child_0.dict
child_0.reads_perfect.contigs.3D7.fixed.clipped.bai
child_0.reads_perfect.contigs.3D7.fixed.clipped.bam
child_0.reads_perfect.contigs.HB3.fixed.clipped.bai
child_0.reads_perfect.contigs.HB3.fixed.clipped.bam
child_0.reads_perfect.contigs.ann.novelKmers.txt
child_0.reads_perfect.contigs.denovos.debug.eval
child_0.reads_perfect.contigs.denovos.debug.vcf
child_0.reads_perfect.contigs.denovos.eval
child_0.reads_perfect.contigs.denovos.eval.old
child_0.reads_perfect.contigs.denovos.vcf
child_0.reads_perfect.contigs.dict
child_0.reads_perfect.contigs.fasta.fai
child_0.reads_perfect.contigs.realign.ref0.sam
child_0.reads_perfect.contigs.realign.ref1.sam
child_0.reads_perfect.contigs.truth.bai
child_0.reads_perfect.contigs.truth.bam
child_0.reads_perfect.foundVariants.shifted.vcf
child_0.reads_perfect.foundVariants.vcf
child_0.reads_perfect.novelKmerToVariant.txt
child_0.reads_perfect.scaffolds.bai
child_0.reads_perfect.scaffolds.bam
child_0.reads_perfect.scaffolds.sam
contigs.f2.txt
contigs.weird.debug.txt
contigs.weird.txt
dl.sh
eval.sh
novelKmersVariantMap.txt
truth.nopartials.vcf
truth.shifted.vcf
truth.vcf
variantsToKmer.table
.swm
.swn
3D7xHB3.haplotypes.txt
PG0051-C.ERR019061.md.3D7.bai
PG0051-C.ERR019061.md.3D7.bam
PG0051-C.ERR019061.md.HB3.bai
PG0051-C.ERR019061.md.HB3.bam
PG0052-C.ERR019054.md.3D7.bai
PG0052-C.ERR019054.md.3D7.bam
PG0052-C.ERR019054.md.HB3.bai
PG0052-C.ERR019054.md.HB3.bam
PG0063-C.ERR019060.md.3D7.bai
PG0063-C.ERR019060.md.3D7.bam
PG0063-C.ERR019060.md.HB3.bai
PG0063-C.ERR019060.md.HB3.bam
PG0063-C.ERR019060.md.recal.bai
PG0063-C.ERR019060.md.recal.bam
PfHB3.V1.dict
PfHB3.V1.fasta.amb
PfHB3.V1.fasta.ann
PfHB3.V1.fasta.bwt
PfHB3.V1.fasta.fai
PfHB3.V1.fasta.k47index
PfHB3.V1.fasta.kmerdb
PfHB3.V1.fasta.pac
PfHB3.V1.fasta.sa
PfHB3.V1.hsx
PlasmoDB-9.0_Pfalciparum3D7_Genome.sorted.fasta.amb
PlasmoDB-9.0_Pfalciparum3D7_Genome.sorted.fasta.ann
PlasmoDB-9.0_Pfalciparum3D7_Genome.sorted.fasta.bwt
PlasmoDB-9.0_Pfalciparum3D7_Genome.sorted.fasta.k47index
PlasmoDB-9.0_Pfalciparum3D7_Genome.sorted.fasta.kmerdb
PlasmoDB-9.0_Pfalciparum3D7_Genome.sorted.fasta.pac
PlasmoDB-9.0_Pfalciparum3D7_Genome.sorted.fasta.sa
PlasmoDB-9.0_Pfalciparum3D7_Genome.sorted.hsx
imperfect/
novel.novelKmerToVariant.txt
perfect/
pseudo.hb3.fasta.k47index
pseudo.hb3.fasta.kmerdb
real/
strs.full.table
test.db
test.db.p
test.hist
teststuff.txt
vc.txt
serverdata/
.vc_cache
report/
docs/
example/
