*.swp
*.iml
*.idea
scratch/
dist/
build/
lib/
test/
testdata/indianaLargeTableTest.table
out/
PG0054-C.ERR019062.contigs.fasta
PG0054-C.ERR019062.contigs.reapr.fasta
PG0054-C.ERR019062.contigs.reapr.fasta.fai
PG0054-C.contigs.fasta
PG0054-C.contigs.fasta.fai
PG0054-C.ctx
PG0054-C.infer.pe.ctp
PG0054-C.infer.se.ctp
PG0054-C.non_empty.non_redundant.contigs.fasta
PG0054-C.non_empty.non_redundant.contigs.fasta.fai
PG0054-C.sorted.ctx
contig_12520.fasta
go.sh
test.contig.ctx
test.contig.fasta
test.contig.inferedges.ctx
test.contig.inferedges.pe.ctp
test.contig.inferedges.se.ctp
test.contig.kmer.fasta
test.contig.reconstructed.fasta
test.dot
test.end1.fastq
test.end2.fastq
test.pdf
test.png
test2.dot
test2.pdf
