<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="standard" verbose="2" >
    <test name="all">
        <!--
        <packages>
            <package name="uk.ac.ox.well.indiana" />
        </packages>
        -->

        <classes>
            <class name="uk.ac.ox.well.indiana.io.cortex.CortexGraphTest" />
        </classes>
    </test>
</suite>
