body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;

    background-color: #FFFFFF;
}

#viewer text {
    font-family: Lucidatypewriter, monospace;
    font-size: 24.0px;
    pointer-events: all;
}

.baseA { fill: #abd25e; }
.baseC { fill: #249aa7; }
.baseG { fill: #f8c830; }
.baseT { fill: #f1594a; }
.baseN { fill: #cccccc; }

.overlay {
    fill: none;
    pointer-events: all;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 0.2px;
    stroke-opacity: 0.5;
}

#kmercursor {
    fill: #ccc;
    stroke: none;
}
