body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;

    background-color: #FFFFFF;
}

table {
    font-family: Lucidatypewriter, monospace;
    font-size: 8pt;
    border-collapse: separate;
    border-spacing: 0px 0px;
}

#searchContigs {
    width: 700px;
}

.contigLineUnselected {
    stroke-opacity: 0.5;
    stroke-width: 4.0;
}

.contigLineSelected {
    stroke-opacity: 1.0;
    stroke-width: 7.0;
}

#circos {
    width: 70%;
    float: left;
}

#annotations {
    width: 30%;
    float: left;
}

#viewer text {
    font-family: Lucidatypewriter, monospace;
    font-size: 1.5px;
}

text.A { fill: #00ff00; }
text.C { fill: #0000ff; }
text.G { fill: #ff8000; }
text.T { fill: #ff0000; }
text.none { fill: #cccccc; }

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 0.2px;
    stroke-opacity: 0.5;
}

.kmercursor {
    fill: none;
    stroke: #ccc;
    stroke-width: 0.2px;
    stroke-opacity: 0.5;
}
